body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav{
  display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 120px;
    background: mediumslateblue;
    color: white;
}

nav a{
  text-decoration: none;
  color: white;
  transition: all 0.1s;
}

nav a:hover{
  font-weight: bold;
  color: whitesmoke;
}